.container{
    display: flex;
    border: 2px double blue;
    height: 300px;
    width: 500px;
    background-color: cornsilk;
    /* flex-direction: column-reverse;
    flex-wrap: wrap-reverse; */
    flex-flow: row wrap;
    justify-content: space-around;
    align-items:center;
    align-content: space-evenly;
    /* gap: 20px 40px; */
    /* row-gap: 20px;*/
} 
.item{
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 1px solid violet;
    /* flex-grow: 0 ; */
    flex-shrink: 0;
}
#i2{
    order: -1;
    /* flex-grow: 2; */
    flex-shrink: 1;
}