.container{
    display: flex;
    border: 2px double blue;
    height: 200px;
    width: 500px;
    background-color: cornsilk;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    /* flex-flow: ; */
}
.item{
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 1px solid violet;
}