.jh{
    color: blue;
    background-color: yellow;
    height: 30px;
    width: 50px;
    padding: 10px 0px 15px 5px;
    border: 2px double green;
    margin-left: 10px;
}
#new{
    color:hsl(from color h s l);
    padding: 30px 50px 30px 20px;
    height: 20px;
    width: 15px;
    border: 1px solid black;
    margin-left: 10px;  
}
div.container{
    display: inline-block;
    height: 120px;
    width: 100px;
    background-color: red;
    padding: 5px 3px 5px 3px;
    border: 1px solid black;
    margin: 20px;
}
div.container2{
    display: inline-block;
    height: 120px;
    width: 100px;
    background-color: red;
    padding: 5px 3px 5px 3px;
    border: 1px solid black;
    margin: 20px;
}
.cssp{
    color: red;
}
.css{
    border: 5px solid black;
    padding-left: 5px;
    color: blue;
}
div.box{
    border: 3px solid black;
    width: 540px;
    height: 230px;
}
p.box2{
    border: 25px solid blue;
    background-color: yellow;
    margin: 30px;
    width: 370px;
    padding: 40px;
    text-align: center;
}
div{
    display: block;
    text-align: center;
    border: 5px solid black;
}
div.cards{
    border: 2px solid black;
    width: 700px;
}
div.box1{
    display: inline-block;
    background-color: yellow;
    width: 70px;
}
div.b2{
    display: inline-block;
    background-color: violet;
    width: 150px;
}
div.box3{
    display: inline-block;
    background-color: cyan;
    width: 100px;
}

